<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Petshop"
        tools:targetApi="31" >
        <activity
            android:name=".descricao_tosaActivity"
            android:exported="false" />
        <activity
            android:name=".descricao_limpeza_completaActivity"
            android:exported="false" />
        <activity
            android:name=".descricao_hidratacaoActivity"
            android:exported="false" />
        <activity
            android:name=".descricao_consultaActivity"
            android:exported="false" />
        <activity
            android:name=".descricao_banhoActivity"
            android:exported="false" />
        <activity
            android:name=".visualizar_agendamentosActivity"
            android:exported="false" />
        <activity
            android:name=".tela_servicosActivity"
            android:exported="false" />
        <activity
            android:name=".cadastro_animalActivity"
            android:exported="false" />
        <activity
            android:name=".tela_principalActivity"
            android:exported="false" />
        <activity
            android:name=".tela_cadastroActivity"
            android:exported="false" />
        <activity
            android:name=".login_MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>